* {box-sizing: border-box}

/* Set height of body and the document to 100% */
body, html {
  width: 100%;
  margin: 0;
  font-family: Arial;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 20px 10px;
  font-size: 17px;
  width: 100%;
  border-radius: 10px;
}

.tablink:hover {
  background-color: #777;
}

/* Style tab links */
.cmdbtn {
  background-color: #555;
  color: white;
  float: left;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  padding: 5px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.5em; 
  font-weight: bold;
  border-radius: 10px;
}

.cmdbtn:hover {
  background-color: #777;
}

.appbtn {
  background-color: #555;
  color: white;
  float: left;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  padding:20px 10px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 1.5em; 
  font-weight: bold;
  border-radius: 10px;
}


/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 10px 20px;
  overflow-y: auto;
}

.tabcontent::-webkit-scrollbar {
    width: 2.5em;
}

.tabcontent::-webkit-scrollbar-button {
    background: #888;
}

.tabcontent::-webkit-scrollbar-track-piece {
    background: #888;
}

.tabcontent::-webkit-scrollbar-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  border-radius: 8px;
  background: red;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 
}

.noborder {
  border: 0px;
  vertical-align:top;
}

.vcenter {
  border: 0px;
  padding-left: 10px;
  vertical-align:center;
  font-size: 1.2em;
}

.vdisplay {
  border: 0px;
  vertical-align:center;
  text-align:center;
  font-size: 1.5em;
}

.textlist {
  line-height:1em;
  overflow:auto;
  padding:5px;
  background-color:lightgray;
  color:red;
}

.cell {
  color: red;
  padding: 8px 8px;
  text-align: center;
}

.cell:hover{
      background-color: #777;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
}

p {
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.rangeinput {
  -webkit-appearance: none;
  width: 100%;
  height: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.rangeinput:hover {
  opacity: 1;
}

.rangeinput::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 50px;
  width: 25px;
  border-radius: 3px;
  background: red;
  cursor: pointer;
  margin-top: -22px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; 

}

.rangeinput::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.rangeinput::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}


#about {background-color: gray;}
#dataplot {background-color: green;}
#settings {background-color: blue;}
#control {background-color: gray;}
